*,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar {
  position: sticky;
	top: 0;
	left: 0;
	backdrop-filter: blur(12px);
}

.navItem {
	position: relative;
	box-sizing: border-box;
	align-items: center;
	gap: 1rem;
	height: 100%;
}

.navItem:after {
	content: "";
	position: absolute;
	background-color: #5DBCE7;
	height: 4px;
	width: 0;
	left: 0;
	bottom: -10px;
	border-radius: 10px;
	transition: 0.3s;
  margin-top: 4px;
}

.navItem:hover:after {
	width: 100%;
}